/* Base */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Main controls */
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  padding: 10px;
}

.box .row.error {
  background-color: orange;
}

.box .row.max-height {
  flex: 1 1 auto;
}

.summary {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
}

.box .row button {
  margin-right: 10px;
}

/* Settings */
.settings-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  padding: 10px;
  z-index: 10;
}

.settings-wrapper label {
  margin: 10px 0;
  display: block;
}

.settings-wrapper button,
.settings-wrapper input[type='submit'] {
  margin-right: 10px;
}

.settings-wrapper label input {
  display: block;
  width: 80%;
}

textarea {
  font-family: monospace;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
