/* Base */
html,
body {
  height: 100%;
  margin: 0;
}

/* Main controls */
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  padding: 10px;
}

.box .row.error {
  background-color: orange;
}

.box .row.max-height {
  flex: 1 1 auto;
}

.box .row.max-height textarea {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.summary {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
}

.box .row button {
  margin-right: 10px;
}

/* Settings */
.settings-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  padding: 10px;
}

.settings-wrapper label {
  margin: 10px 0;
  display: block;
}

.settings-wrapper button,
.settings-wrapper input[type='submit'] {
  margin-right: 10px;
}

.settings-wrapper label input {
  display: block;
  width: 80%;
}
